:root {
  --header-height:4rem;
  --padding-left:2rem;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}





/* 
//--------------- */

.post-container {
  padding: 2rem 8rem;
}

